<div class="exception-body accessdenied-body">        
    <div class="exception-panel">
        <img src="assets/layout/images/exception/icon-access.png"/>
        
        <button type="button" onclick="location.href='/';" class="ui-button ui-widget ui-state-default ui-corner-all error-page-btn">
            <span class="ui-button-text ui-c">DASHBOARD</span>
        </button>
    </div>
    
    <div class="exception-band">
        <div class="exception-content">
            <h1>ACCESS DENIED</h1>
            <p>You don't have the permissions</p>
            <img src="assets/layout/images/logo.png"/>
        </div>            
    </div>
</div>